/* ALL************************************************************** */
    * {
        text-transform: uppercase; 
        font-family: Arial;
        
    }
    
   /* body{
        
   }*/
     
    

    #wrapper { display: flex; }
/* ALL END********************************************************************** */


/* HOME ********************* ************************************ */
   .carousel {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }
  #carouselVideo {
      height: auto;
      width:100%
  }
/* HOME END********************************************************************** */



/* NEW TOURNAMENT PAGE********************************************************************** */

.newTournamentContainer {
    background-color: #E4E4E4;
   height: 100vh;
   padding: 25px 30px;
    
   }   
.title {
    text-align: center;
    font-weight: bold;
   
}
.newTournamentFrom {
    max-width: 700px;
    width: 100%;
    justify-content: center;
    align-items: center;
    
    
}    

.tournamentDetails {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

 .inputBox{
     margin: 5px 0 ;
     width:  25%;
 }

 .inputBox input{
     display: block;
     height: 45px;
     width: 100%;
 }
/* NEW TOURNAMENT END********************************************************************** */


/* EACH INDIVIDUAL TOURNAMENT CARD********************************************************************** */
    .tournamentCard {
        background-color: white;

        height: 200px;
        width: 800px;
        padding: 8px;
        padding-top: 4px;
        padding-left: 15px;
        margin: 30px auto;
        
        /* justify-content: center; */
        /* text-align: center; */
        /* border-radius: 0px; */


    }

    #tournamentLogo {
        height: 175px;
        width: auto;
        padding-right: 15px;
        padding-top: 10px;
        float:right;
      
     }
    
    .tournamentCardText{
        font-size: 100%; /*16px = 100% */
        line-height: 0%;
    }  

    .tournamentTitle{
        margin-bottom: -8px;
        
        
    }        

    #tournamentName{
        font-size: 2em;
        white-space: nowrap;
  
    }

    .tournamentHost{
        
        padding-top: 28px;
    }   

    /* .tournamentInfo {
        line-height : 0px;
        
        font-size: 0cm; 
    } */

    .tournamentDateTime{
        color: red;
        margin-bottom: -15px;
    }

    .tournamentLocation{
        color:#707070;
        margin-bottom: 20px;
    }

    
/*




    .tournamentCount{
        font-size: 0cm;
    } */


/* EACH INDIVIDUAL TOURNAMENT CARD END********************************************************************** */

/* ********************************************************************** */
.div span{
        background-color: #b6b6b6;
    }
    .header{
        border-bottom: 1px solid #E2E8F0;
    }

    .NavBar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem;
    }

    .hamburger {
        display: none;
    }

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #101010;
    }
/* ********************************************************************** */


/* ********************************************************************** */

    .allTournaments {
        background-color: #E4E4E4
    }

    .tournamentShowPage{
        background-color: #E4E4E4;
        height: 1000px;
        text-align: center;
    }

    .homePage {
        border-radius: 12px;
    height: 214px;
    width: 1000px;
    padding: 8px;
    padding-left: 15px;
        justify-content: center;
        margin: 5px auto;
        background-color: #c7c7c7;
        text-align: center;

    }
    .homeButton {
        border-radius: 10px;
        background-color: #ffffff;
        height: 20px;
    width: 500px;
    padding: 4px;
    }
    /* .mainTitle {
        font-size: 10em;
    } */
