
* {
    text-transform: uppercase; 
    font-family: Arial;
    /* background-color: #b6b6b6; */
   }
.div span{
    background-color: #b6b6b6;
}
.header{
    border-bottom: 1px solid #E2E8F0;
}

.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.allTournaments {
    background-color: #E4E4E4
}
.tournamentCard {
    border-radius: 0px;
  height: 200px;
  width: 875px;
  padding: 8px;
  padding-left: 15px;
    justify-content: center;
    margin: 30px auto;
    background-color: white;
    text-align: center;

}

#wrapper { display: flex; }

.homePage {
    border-radius: 12px;
  height: 214px;
  width: 1000px;
  padding: 8px;
  padding-left: 15px;
    justify-content: center;
    margin: 5px auto;
    background-color: #c7c7c7;
    text-align: center;

}
.homeButton {
    border-radius: 10px;
    background-color: #ffffff;
    height: 20px;
  width: 500px;
  padding: 4px;
}
